   <%- include("../partials/_head") -%> 
   <% if (user !== null) { %>
    <p>You are logged in as <%= user.username %></p>
    <% } %>  
  
   <div>
      <h2> "Come on in ... we have snacks"
      </h2>
      
          <!-- <h1>Women in Tech</h1> -->
    </div>
    <div class="profiles">
          <% people.forEach(person => { %>
            <a class="profile" href="/profile/<%= person.id %>">
                <p><%= person.name %></p>
                <img src=<%= person.photo %>
            </a>
          <% }) %> 
    </div>
</div>

  </body>
          <%- include("../partials/_footer") -%>
</html>
